/* ======================== */
/* 		 DEV-SWITCHES 		*/
/* ======================== */
#dev-switch {
	z-index: 4;
	visibility: visible;
	position: absolute;
	top: 500px;
	left: -300px;
	color: #fff;
	font-size: 10px;
}
a#dip-1 {
	display: block;
	width: 7px;
	height: 14px;
	background-image: url("../img/dev/switch-up.png");	
}
a#dip-2{
	display: block;
	width: 7px;
	height: 14px;
	background-image: url("../img/dev/switch-up.png");
}
a#dip-3  {
	display: block;
	width: 7px;
	height: 14px;
	background-image: url("../img/dev/switch-up.png");
}
/* 								____WebFonts */
@font-face {
	font-family: 'LCD-Bold';
    src:  url('LCD-Bold.ttf.woff') format('woff'),
    url('LCD-Bold.ttf.svg#LCD-Bold') format('svg'),
    url('LCD-Bold.ttf.eot'),
    url('LCD-Bold.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
/*								____HTML	*/
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}
pre {
	font-family: 'Press Start 2P';
	font-weight: bold;
}
header {
	width: 100%;
	height: 0px;
}

h1 {
	font-size: 10px;
}

h1.class-dependant {
	color: #ff4242;
}

h2 {
	font-size: 11px;
	font-weight: normal;
}

h3 {
	
	font-family: 'LCD-Bold';
	font-size: 12px;
}

body {
	font-family: 'Lacquer';
	background-color: #000;
}

input,
input,
select,
button {
	font-family: 'Orbitron';
	font-size: 12px;
}

input[type=text] {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2de2d6+0,7db9e8+100&0.3+1,0+100 */
	background: -moz-linear-gradient(top,  rgba(45,226,214,0.3) 0%, rgba(46,226,214,0.3) 1%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(45,226,214,0.3) 0%,rgba(46,226,214,0.3) 1%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(45,226,214,0.3) 0%,rgba(46,226,214,0.3) 1%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d2de2d6', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	color: #fff;
	font-family: 'Press Start 2P';
	font-size: 12px;
	width: 175px;
	height: 30px;
}

/* 								____DOM		*/
.content-wrapper {
	position: absolute;
	width: 1024px;
	min-width: 1024px;
	height: 640px;
	max-height: 640px;
	overflow: hidden;
	margin-left: 50%;
	left: -512px;
	top: 0px;

	/*background-color: #c1c9b9;*/
	background-image: url('../img/wrap-bg.png');
}
/*								___DOM / CLASSES 	*/
.game-stats {
	visibility: 'hidden';
	position: absolute;
	border: 0;
	width: 0px;
	height: 0px;
	color: #fff;
}

#dice-display {
	position: absolute;
	top:300px;
	visibility: hidden;
	display: block;
	width: 280px;
	background-color: #567;
}

/*							___DOM -- player-content	*/
div#player-content {
	position: absolute;
	font-family: 'Orbitron';
	font-size: 16px;
	font-weight: bold;
	border: 1px dotted #fa7d7d;
	width: 300px;
	height: 590px;
	left: 0px;
	top: 50px;
	padding: 10px;
	color: #fff;
}

div#input-values {
	position: absolute;
	border: 1px dotted red;
	height: 300px;
	width: 300px;
	top: 270px;
	left: 0px;
	text-align: left;/* TODO: make pda background
	background-image: url('../img/keyboard/pda.png');
	background-repeat: no-repeat;
	background-size: 160px 240px;
	*/
}

.character-build {
	font-size: 10px;
	font-family: 'LCD-Bold';
}

.rainbow-text {
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	font-family: 'Press Start 2P';
	font-size: 7px;
	font-weight: bold;
	-webkit-background-clip: text;	
	background-clip: text;
}

table#stat-table.character-build {
	position: absolute;
    table-layout: fixed;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    width: 80%;
    height: 40%; 
	background-image: url('../img/keyboard/paper-border.png');
	background-size: contain;
    border-radius: 2px;
	font-size: 14px;
	font-family: 'LCD-Bold';
}
td#stat-table.character-build {
	width: 100%;
	height: 100%;
	border: 1px dotted red;
}

span#stats.character-build {
	display: inline-table;
	min-width: 280px;
	height: 70%;
}

/*							___DOM -- player-stats	*/
div#player-stats {
	position: absolute;
	border: 1px dotted #fa7d7d;
	width: 424px;
	height: 590px;
	left: 300px;
	top: 50px;
	color: #fff;
}

.descriptions {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 450px;
	top: 10px;
	color: #fff;
}

#action-display {
	overflow-x: hidden;
	overflow-y: hidden;
}

#direction {
	position: absolute;
	display: block;
	background-color: #000;
	text-align: center;
	color: #fff;
	top: 0px;
	left: -125px;
	margin-left: 50%;
	min-width: 250px;
	min-height: 20px;
	max-width: 263px;
	max-height: 20px;
	border: 1px solid #fff;
	border-radius: 6px;
	z-index: 10; 
}

#game-info {
	position: absolute;
	width: 260px;
	height: 135px;
	padding-top: 30px;
	margin-left: 50%;
	left: -130px;
	top: 40px;
	color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: white black;
	scrollbar-width: none;
	border-radius: 12px;
	padding: 5px;
}

.action-display {
	position: absolute;
	margin-left: 50%;
	/*padding-left: 75px;
	padding-top: 66px;
	padding-right: 65px; */
	left: -205px;
	top: 105px;
	text-align: left; 
	width: 410px;
	height: 280px;
	background-image: url('../img/keyboard/monitor.png');
	border-radius: 6px;
	color: #fff;
	font-family: 'Press Start 2P';
	font-size: 8px;
}

/* 									____INVENTORY 	*/
.inventory {
	position: absolute;
	font-size: 10px;
	max-width: 400px;
	max-height: 80px;
	top:  25px;
	left: 130px;
	color: #fff;
	padding: 0px;
	margin: 0px;
	text-align: center;
	border: 2px solid gray;
	border-radius: 6px;
	background-color: black; 
}

div#item-image,
	#weapon-image,
	#magic_H-image,
	#magic_D-image,
	#skills-image {
	min-width: 40px;
	min-height: 40px;
	height: 40px;
	width: 40px;
	overflow-y: scroll;
	scroll-snap-align: center;
}
td.inventory {
	width: 80px;
	text-align: center;
}

div#room {
	position: absolute;
	top: 50px;
	left: 70px;
	height: 150px;
	width: 270px;
	padding-top: 5px;
	padding-bottom: 5px;
	max-height: 150px;
	max-width: 270px;
	overflow-y: scroll;
	scroll-snap-align: center;
	scrollbar-width: none;
}
 /* width */
div#room::-webkit-scrollbar {
  width: 20px;
}

/* Track */
 /* width */
div#room::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
} 

#player-img {
	position: absolute;
	top: 0px;
	height: 120px;
	margin: 0 auto;
	text-align: center;	
}

#weapon-image.inventory-table {
	position: relative;
	width: 40px;
	height: 40px;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	scroll-snap-type: y mandatory;
  	overflow-y: scroll;
  	display: flex;

}

#save-game {
	position: absolute;
	width: 168px;
	height: 30px;
	text-align: center;
	top: 550px;
	left: 520px;
	margin-left: 0px;
	z-index: 2;
}
button.saveBtn {
	display: inline-block;
	width: 80px;
	height: 20px;
	border: 2px solid #808080;
	background-color: #000;
	border-radius: 8px 0 8px 0;	
	color: #808080;
	font-weight: bold;
}

button#save-button {
	visibility: hidden;
}

button#save-button:hover {
	border: 2px solid #000;
	color: #ffa502;
	box-shadow: 0 0 15px #66ffff;
	text-shadow: 0 0 15px #d35400;
}
button#load-button:hover {
	border: 2px solid #000;
	color: #ffa502;
	box-shadow: 0 0 15px #66ffff;
	text-shadow: 0 0 15px #d35400;
}
/*
#item-image:focus {
	color: #ffa502;
	box-shadow: 0 0 15px #ffa502;
	text-shadow: 0 0 15px #d35400;
}
#magic_H-image:focus {
	color: #66ff99;
	box-shadow: 0 0 15px #66ff99;
	text-shadow: 0 0 15px #d35400;
}
#magic_D-image:focus {
	color: #ff4d4d;
	box-shadow: 0 0 15px #ff4d4d;
	text-shadow: 0 0 15px #d35400;
}
#skills-image:focus {
	color: #ffff33;
	box-shadow: 0 0 15px #ffff33;
	text-shadow: 0 0 15px #d35400;
}
*/
.inventory-thumbs {  
  	scroll-snap-align: center;
  	max-width: 40px;
  	max-height: 40px;
}

#inventory-display:hover {
	margin: 0px;
	padding: 0px;
	color: #ffa502;
	box-shadow: 0 0 15px #66ffff;
	text-shadow: 0 0 15px #d35400;
}

#class-image {
	position: relative;
	top: 5px;
	margin-left: 0 auto;
}

/* 									____DOM - game-content 	*/
div#game-content {
	/*visibility: hidden;*/
	
	position: absolute;
	border: 1px dotted #fa7d7d;
	width: 300px;
	height: 590px;
	left: 422px;
	top: 0px;
}

div#control-buttons {
	text-align: center;
}
/* 							___DOM - room 	*/
div#room-content.room-content {		
	position: absolute;
	top: 200px;
	left: 0;
	width: 300px;
	height: 250px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

.action-text {
	width: 200px;
	overflow: scroll;
}

#room {
	visibility: hidden;
}
#room-display.room-display {
	position: relative;
	width: 310px;
	height: 200px;
	max-width: 310px;
	max-height: 170px;
	margin-left: 50%;
	margin-bottom: 60px;
	left: -155px;
}
