/*								____HTML	*/
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}
header {
	width: 100%;
	height: 0px;
}

h1 {
	font-size: 10px;
}

h1.class-dependant {
	color: #ff4242;
}

h2 {
	font-size: 11px;
	font-weight: normal;
}

h3 {
	font-family: 'Press Start 2P';
	font-size: 8px;
}

body {
	font-family: 'Lacquer';
}

input,
input,
select,
button {
	font-family: 'Orbitron';
	font-size: 12px;
}

input[type=text] {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2de2d6+0,7db9e8+100&0.3+1,0+100 */
	background: -moz-linear-gradient(top,  rgba(45,226,214,0.3) 0%, rgba(46,226,214,0.3) 1%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(45,226,214,0.3) 0%,rgba(46,226,214,0.3) 1%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(45,226,214,0.3) 0%,rgba(46,226,214,0.3) 1%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d2de2d6', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	color: #fff;
	font-family: 'Press Start 2P';
	font-size: 12px;
	width: 175px;
	height: 30px;
}

/* 								____DOM		*/
.content-wrapper {
	position: absolute;
	width: 1024px;
	height: 640px;
	/*background-color: #c1c9b9;*/
	background-image: url('../img/wrap-bg.png');
}
/*								___DOM / CLASSES 	*/
.game-stats {
	visibility: 'hidden';
	position: absolute;
	border: 0;
	width: 0px;
	height: 0px;
	color: #fff;
}

/*							___DOM -- player-content	*/
div#player-content {
	position: absolute;
	font-family: 'Orbitron';
	font-size: 16px;
	font-weight: bold;
	border: 1px dotted #fa7d7d;
	width: 300px;
	height: 590px;
	left: 0px;
	top: 50px;
	padding: 10px;
	color: #fff;
}

div#input-values {
	position: absolute;
	border: 1px dotted red;
	height: 300px;
	width: 300px;
	top: 270px;
	left: 0px;
	text-align: left;
	font-family: 'Press Start 2P' ;
}

.character-build {
	font-family: 'Press Start 2P';
	font-size: 10px;
}

table.character-build {
    table-layout: fixed;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    height: 100%; 
}
td.character-build {
	width: 100%;
	height: 100%;
	border: 1px dotted red;
}

span#stats.character-build {
	display: inline-table;
	min-width: 280px;
	height: 70%;
}
/*
div#save-game {
	visibility: hidden;
	position: absolute;
	top: 590px;
	width: 300px;
}
*/
/*							___DOM -- player-stats	*/
div#player-stats {
	position: absolute;
	border: 1px dotted #fa7d7d;
	width: 424px;
	height: 590px;
	left: 300px;
	top: 50px;
	color: #fff;
}

#item-image {
	min-width: 40px;
	min-height: 40px;
	width: 40px;
	height: 40px;
}
/*
select#item-image::-ms-expand {
    display: none;
	background: url('../img/weapons/nothing.png');
}
*/
select#item-image,option {
	min-width: 40px;
	min-height: 40px;
	width: 40px;
	height: 40px;
}

.descriptions {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 450px;
	top: 10px;
	color: #fff;
}

.action-display {
	position: absolute;
	margin-left: 50%;
	padding-top: 5px;
	left: -125px;
	text-align: center; 
	bottom: 0px;
	width: 250px;
	height: 50px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2de2d6+0,7db9e8+100&0.3+1,0+100 */
	background: -moz-linear-gradient(top,  rgba(45,226,214,0.3) 0%, rgba(46,226,214,0.3) 1%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(45,226,214,0.3) 0%,rgba(46,226,214,0.3) 1%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(45,226,214,0.3) 0%,rgba(46,226,214,0.3) 1%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d2de2d6', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	color: #fff;
	font-family: 'Press Start 2P';
	font-size: 12px;
	border: 2px solid #fff;
	border-radius: 6px; 
	background-color: #000;
}

/* 									____INVENTORY 	*/
.inventory {
	position: fixed;
	font-size: 10px;
	width: 400px;
	height: 80px;
	top: 175px;
	left: 409px;
	color: #fff;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

div#item-image {
	height: 40px;
	width: 40px;
	overflow-y: auto;
	scroll-snap-align: center;
}

td.inventory {
	width: 80px;
	text-align: center;
}

div#room {
	position: absolute;
	top: 200px;
	left: 20px;
}

#player-img {
	position: relative;
	top: 0px;
	height: 120px;
	margin: 0 auto;
	text-align: center;	
}

#weapon-image.inventory-table {
	position: relative;
	width: 40px;
	height: 40px;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#inventory-display {
	margin: 0px;
	padding: 0px;
}

#class-image {
	position: relative;
	top: 5px;
	margin-left: 0 auto;
}

#weapon-image {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 240px;
	left: 115px;
	justify-content: center;
}
/* 									____DOM - game-content 	*/
div#game-content {
	/*visibility: hidden;*/
	
	position: absolute;
	border: 1px dotted #fa7d7d;
	width: 300px;
	height: 590px;
	left: 422px;
	top: 0px;
}

div#control-buttons {
	text-align: center;
}
/* 							___DOM - room 	*/
div#room-content.room-content {		
	position: absolute;
	top: 200px;
	left: 0;
	width: 300px;
	height: 250px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

.action-text {
	width: 200px;
}
